body {
    padding-top: 54px;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

#index-body {
    background-color: #5C60B2;
}

main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.col-lg-4 {
    color: SlateGray;
}

header {
    height: 50vh;
}

.header-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

.header-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-left: 30px;
}

.header-column > a {
    background: #FFFDD0;
    color: gray;
    width: 100px;
}

#header-column-left {
    padding-top: 100px;
}

#main-logo {
    color: white;
   padding-bottom: 20px;
   font-family: 'Adamina', serif;
}

#sub-text {
    font-family: 'Adamina', serif;
    color: #DCDCDC;
    padding-bottom: 20px;
}


.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  height: 50vh;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: white;
  padding: 20px 30px 0 30px;
}

.splash {
    background: #FFF6E5;
	padding-bottom: 2em;
}

#landing-image {
    background-image: url('computer-mock.png');
}

img {
    padding-top: 50px;
    width: 500px;
}

#comment-icon {
    padding-bottom: 20px;
    width: 60px;
    height: auto;
}

#credit {
    background-color: white;
    padding-top: 10px;
}

#topic-list {
    margin-top: 20px;
}


@media screen and (max-width: 1000px) {
    .full-width {
        height: 100vh;
    }
    header {
        height: 100vh;
    }
    .header-row {
        flex-direction: column-reverse;
    }
  }

  @media screen and (max-width: 565px) {
    img {
        width: 400px;
    }
    .full-width {
        height: 100vh;
    }
    header {
        height: 100vh;
    }
    .header-row {
        flex-direction: column-reverse;
    }
  }

 
