body {
    padding-top: 54px;
    background-image: url("asphalt-aspiration-clouds-215.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.col-lg-4 {
    color: SlateGray;
}

.jumbotron my-4 {
    background-color:transparent !important;
    font-style: "Times New Roman", Times, serif;
}