<!DOCTYPE html>
<html lang="en">
<!-- head tag is added since you can add extra contents on each page-->
  <head>
    <% include ./partials/head.ejs %>
    
  </head>
  <body id='index-body'>

      <!-- Navigation -->
      <!-- because nav tag look same on every pages, you don't need the tag-->
      <% include ./partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header >
          <div class='header-row'>
            <div class='header-column'>
              <div id='header-image'>
                <img src='css/melting-pot-mockup.png' />
              </div>
            </div>
            <div class='header-column'>
              <div id='header-column-left'>
                <h1 id='main-logo'>Melting Pot</h1>
                <p id='sub-text'>Immigrant's social community platform</p>
                <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
              </div>
            </div>
          </div>
        </header>

        <!-- Page Features -->
        <div class='full-width'>
        <section class="row text-center">
         

          <section class="col-lg-4">
            <img id='comment-icon' src='css/edit.png' />
            <h4 class="card-title">Post</h4>
            <p class="card-text">Share your thoughts about subjects that are important to you such as visas, cultural adjustment tips, etc.</p>
          </section>

          <section class="col-lg-4">
            <img id='comment-icon' src='css/customer.png' />
            <h4 class="card-title">Comment</h4>
            <p class="card-text">Your opinion counts! But you have to make yourself heard first!</p>
          </section>

          <section class="col-lg-4">
            <img id='comment-icon' src='css/promotion.png' />
            <h4 class="card-title">Stay Informed</h4>
            <p class="card-text">See the most active topics as well as trending subjects every day!</p>
          </section>

            
        </section>
        <!-- /.row -->
        
        </div>
     
      </main>
      <!-- /.container -->
      <section id='credit'>
          <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </section>

     <% include ./partials/baseScripts.ejs %>
    </body>
</html>